extends layout

block variables
  - let title = "Chat"

block content
  h2.text-center Chat

.container#chat-container
    form#message-container
      input#message-input(type="text")
      button#send-button(type="submit").
        Send