extends layout

block variables
  - let title = "Dashboard"

block content
  h2.text-center Dashboard

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to your dashboard page, #{user.profile.firstName}. 
        <br><br>
        Please give us a few minutes in order for start a new chat or join one as we are developing the app xD
  