extends layout

block variables
  - let title = "Home"

block content
  h2.text-center Parlario

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to Parlario! this is a test and it'll look way better. I promise! Stay tuned on my 
        #[a(href="https://github.com/nicolafolchi", title="Nicola on GitHub") GitHub page] to learn more.